@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/img/mainBG.jpg");
  background-size: cover;
}

/* Set text style */
/* Heading Style */
.h1 {
  font-size: 40px;
  font-weight: bold;
}
.h2 {
  font-size: 35px;
  font-weight: bold;
}
.h3 {
  font-size: 35px;
  font-weight: normal;
}
.h4 {
  font-size: 22.5px;
  font-weight: normal;
}
.h5 {
  font-size: 18.5px;
  font-weight: bold;
}
/* Paragraph Style */
.p1 {
  font-size: 15px;
  font-weight: bold;
}
.p1 {
  font-size: 15px;
  font-weight: normal;
}
/* Nav-bar Style */

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-icon {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.promoCard-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #222223;
  gap: 4px;
  align-items: center;
}

.promoCard {
  width: 33%;
  height: 284px;
  border-radius: 22px 22px 22px 22px;
  border: 3px solid orange;
  background-color: aliceblue;
}
